<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         failOnWarning="true"
         failOnRisky="true"
         beStrictAboutOutputDuringTests="true">
    <testsuites>
        <testsuite name="unit">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">src/Controller</directory>
            <directory suffix=".php">src/Model</directory>
            <directory suffix=".php">src/Support</directory>
        </include>
        <exclude>
            <!-- Database::pdo() es un límite de E/S (conexión MySQL real), no lógica de negocio. -->
            <file>src/Support/Database.php</file>
        </exclude>
    </source>
</phpunit>
